{% extends 'base.html' %}
{% load static%}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}"/>
  <style>
    .increase-arrow{
      cursor: pointer;
      font-size: 20px;
    }

    #code-builder-table {
      border-collapse: collapse;
      text-align: left;
      line-height: 1.5;
    }

    #code-builder-table thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
    }

    #code-builder-table tbody th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
    }

    #code-builder-table td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
    }

    #code-builder-table th, #code-builder-table td {
      overflow:hidden;
      white-space : nowrap;
      text-overflow: ellipsis;
	  }

    .value-controller tr {
      background: none !important;
    }

    .value-controller td {
      border: none !important;
    }
  </style>
{% endblock css %}

{% block tooltip %}
  <div class="ui-theme-settings">
    <button type="button" id="code-tooltip" class="btn-open-options btn btn-warning">
      <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
    </button>
    <div class="theme-settings__inner">
      <div class="scrollbar-container">
        <div class="theme-settings__options-wrapper">
          <div class="main-card mb-3 card" style="margin: 20px">
            <div class="card-header">
              <i class="header-icon lnr-license icon-gradient bg-plum-plate"></i>code generator
              <div class="btn-actions-pane-right">
                <button class="btn-shadow btn-transition btn btn-outline-success" onclick="code_generate()">빌드하기</button>
                <button class="btn-shadow btn-transition btn btn-outline-dark" id="copy-button" data-clipboard-target="#result-code">클립보드에 복사하기</button>
              </div>
            </div>
            <div class="card-body" id="result-code">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock tooltip %}

{% block page-title %}
  <div class="page-title-icon">
    <i class="fa fa-hammer icon-gradient bg-arielle-smile"></i>
  </div>
  <div>Code Builder</div>
{% endblock page-title %}

{% block header-actions %}
  <button class="btn-shadow mr-3 btn disabled" id="remind-point">Point: {{ point }}</button>
  <button class="btn-shadow mr-3 btn btn-danger" onclick="location.href='{% url 'refresh-cache' %}'">초기화</button>
{% endblock header-actions %}

{% block page-content %}
    <div style="margin-bottom: 20px">
      <table class="table table-hover" id="code-builder-table" style="width: 100%">
        <thead>
          <tr>
            <th>일련번호</th>
            <th>특성</th>
            <th>종류 / 적용방식</th>
            <th>타입계수</th>
            <th>기본값</th>
            <th style="text-align: center">총합</th>
            <th style="text-align: center">투자값</th>
          </tr>
        </thead>
      </table>
    </div>
{% endblock page-content %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>

  <script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  </script>

  <script type="text/javascript">
    var table = $('#code-builder-table').DataTable({
      stateSave: true,
      "processing": true,
      "ajax": {
        "processing": true,
        "url": "{% url 'code-builder-json' %}",
        "dataSrc": "",
      },
      "columns": [
        {data: 'index'},
        {data: 'description_ko'},
        {
          data: null,
          render: function ( data, type, row ) {
            return data.kind + ' / ' + data.effect
          }
        },
        {data: 'kind_coefficient'},
        {data: 'default_value'},
        {data: 'summary'},
        {
          data: null,
          render: function ( data, type, row ) {
            var res_string = '<table class="value-controller" style="width: 100%;"><tr>' +
              '<td style="width: 20%;"><i class="pe-7s-angle-left increase-arrow" name="dc-point"></i></td>' +
              '<td style="width: 60%; text-align: center">' + data.invested_point + '</td>' +
              '<td style="width: 20%;"><i class="pe-7s-angle-right increase-arrow" name="ic-point"></i></td>' +
              '</tr></table>';
            return res_string;
          }
        }
      ]
    });

    $('#code-builder-table tbody').on('click', 'i', function () {
        var data = table.row( $(this).parents('tr') ).data();
        var action = $(this).attr('name');

      $.ajax({
        type: "POST",
        url: "{% url 'update-point' %}",
        data: {
          'subno': data.index,
          'action': action
        },
        success: function(args) {
          table.ajax.reload( null, false );
          console.log(args);
          document.getElementById('remind-point').innerHTML = 'Point: ' + args.message.point;
        }
      });
    });

    function code_generate() {
      $.ajax({
        type: "GET",
        url: "{% url 'built-code' %}",
        success: function(args) {
          var result_code = 'modified_code = {<br>';
          var built_code = JSON.parse(args.message);
          built_code.forEach(function (data) {
            result_code += '&nbsp;&nbsp;&nbsp;&nbsp;' + data.modifier_name + '=' + data.code_value + '<br>';
          });
          result_code += '}';
          document.getElementById('result-code').innerHTML = result_code;
        }
      });
    }
  </script>
  <script>
    $(document).on("mouseleave", "#copy-button", function(e) {
      $(this).removeClass("tooltipped tooltipped-s").removeAttr("aria-label");
    });

    function showTooltip(elem, msg) {
      elem.setAttribute('class','btn-shadow btn-transition btn btn-outline-dark copy tooltipped tooltipped-s');
      elem.setAttribute('aria-label', msg);
    }

    var clipboard = new ClipboardJS('#copy-button');
    clipboard.on('success', function(e) {
      e.clearSelection();
      showTooltip(e.trigger,'Copied!');
    });

    clipboard.on('error', function(e) {
    });
  </script>
{% endblock js %}
