{% extends 'base.html' %}
{% load static%}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}"/>
  <style>
    .increase-arrow{
      cursor: pointer;
      font-size: 20px;
    }

    #code-builder-table {
      border-collapse: collapse;
      text-align: left;
      line-height: 1.5;
    }

    #code-builder-table thead th {
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      color: #369;
      border-bottom: 3px solid #036;
    }

    #code-builder-table tbody th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
    }

    #code-builder-table td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
    }

    #code-builder-table th, #code-builder-table td {
      overflow:hidden;
      white-space : nowrap;
      text-overflow: ellipsis;
	  }

    .value-controller tr {
      background: none !important;
    }

    .value-controller td {
      border: none !important;
    }
  </style>
{% endblock css %}

{% block sidebar-content %}
  <h3 style="text-align: center; padding: 10px; cursor: pointer; color: #003366">
    <span id="copy-button" data-clipboard-target="#result-code">Click here to result copy!</span>
  </h3>
  <div class="main-card mb-3 card" style="margin: 20px">
    <div class="card-body" id="result-code">
      modified_code = {<br>
        {% for code in code_generator %}
          &nbsp;&nbsp;&nbsp;&nbsp;{{ code.codename }} = {{ code.value }}<br>
        {% endfor %}
      }
    </div>
  </div>
{% endblock sidebar-content %}

{% block page-title %}
  <div class="page-title-icon">
    <i class="fa fa-hammer icon-gradient bg-arielle-smile"></i>
  </div>
  <div>Code Builder</div>
{% endblock page-title %}

{% block header-actions %}
  <button class="btn-shadow mr-3 btn btn-success" onclick="location.href='{% url 'code-builder' %}'">빌드하기</button>
  <button class="btn-shadow mr-3 btn btn-dark" onclick="location.href='{% url 'refresh-cache' %}'">초기화</button>
{% endblock header-actions %}

{% block page-content %}
    <div style="margin-bottom: 20px">
      <table class="table table-hover" id="code-builder-table" style="width: 100%">
        <thead>
          <tr>
            <th>일련번호</th>
            <th>특성</th>
            <th>종류 / 적용방식</th>
            <th>기본값</th>
            <th style="text-align: center">코드값</th>
          </tr>
        </thead>
      </table>
    </div>
{% endblock page-content %}

{% block js %}
  <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
  <script type="text/javascript">
    var table = $('#code-builder-table').DataTable({
      stateSave: true,
      "processing": true,
      "ajax": {
        "processing": true,
        "url": "{% url 'code-builder-json' %}",
        "dataSrc": "",
      },
      "columns": [
        {data: 'pk'},
        {data: 'fields.description_ko'},
        {
            data: 'fields',
            render: function ( data, type, row ) {
                return data.modifier_type + ' / ' + data.effect_type
            }
        },
        {data: 'fields.default_value'},
        {
          data: 'fields',
          render: function ( data, type, row ) {
            var res_string = '<table class="value-controller" style="width: 100%;"><tr>' +
                '<td style="width: 20%;"><i class="pe-7s-angle-left increase-arrow" name="down-button"></i></td>' +
                '<td style="width: 60%; text-align: center">' + data.current_value + '</td>' +
                '<td style="width: 20%;"><i class="pe-7s-angle-right increase-arrow" name="up-button"></i></td>' +
                '</tr></table>';
            return res_string;
          }
        }
      ]
    });

    $('#code-builder-table tbody').on('click', 'i[name="down-button"]', function () {
        var data = table.row( $(this).parents('tr') ).data();
        var dataString = 'subno=' + data.pk;
        console.log(dataString);
      $.ajax({
        type: "POST",
        url: "{% url 'decrease-value' %}",
        data: dataString,
        success: function() {
          table.ajax.reload( null, false );
        }
      });
    });

    $('#code-builder-table tbody').on('click', 'i[name="up-button"]', function () {
        var data = table.row( $(this).parents('tr') ).data();
        var dataString = 'subno=' + data.pk;
        console.log(dataString);
      $.ajax({
        type: "POST",
        url: "{% url 'increase-value' %}",
        data: dataString,
        success: function() {
          table.ajax.reload( null, false );
        }
      });
    });
  </script>
  <script>
    $(document).on("mouseleave", "#copy-button", function(e) {
      $(this).removeClass("tooltipped tooltipped-s").removeAttr("aria-label");
    });

    function showTooltip(elem, msg) {
      elem.setAttribute('class','copy tooltipped tooltipped-s');
      elem.setAttribute('aria-label', msg);
    }

    var clipboard = new ClipboardJS('#copy-button');
    clipboard.on('success', function(e) {
      e.clearSelection();
      showTooltip(e.trigger,'Copied!');
    });

    clipboard.on('error', function(e) {
    });
  </script>
{% endblock js %}
