{% extends 'base.html' %}
{% load static%}

{% block css %}
{% endblock css %}

{% block tooltip %}
{% endblock tooltip %}

{% block page-title %}
  <div class="page-title-icon">
    <i class="fa fa-archive icon-gradient bg-sunny-morning"></i>
  </div>
  <div>Home</div>
{% endblock page-title %}

{% block header-actions %}
{% endblock header-actions %}

{% block page-content %}
  <h3>Information</h3>
  <hr>
  <div class="main-card mb-3 card">
    <div class="card-body">

<!-- Pre Information -->
<pre>
E:\Europa Universalis IV Dharma\history\countries
1400.1.1 = {
    add_country_modifier = {
        name = "modified_code"
        duration = -1
    }
}

E:\Europa Universalis IV Dharma\common\event_modifiers\00_event_modifiers.txt
modified_code = {
    ...
}
</pre>
<!-- EndInfo -->
      <a target="_blank" href="https://eu4.paradoxwikis.com/Countries">국가별 태그 목록</a>
    </div>
  </div>
{% endblock page-content %}

{% block js %}
{% endblock js %}

