{% extends 'base.html' %}
{% load static%}

{% block css %}
{% endblock css %}

{% block sidebar-content %}
{% endblock sidebar-content %}

{% block page-title %}
  <div class="page-title-icon">
    <i class="fa fa-archive icon-gradient bg-sunny-morning"></i>
  </div>
  <div>Home</div>
{% endblock page-title %}

{% block header-actions %}
{% endblock header-actions %}

{% block page-content %}
{% endblock page-content %}

{% block js %}
{% endblock js %}

{% block hide-sidebar %}hidden{% endblock hide-sidebar %}
